body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  padding: 10px 20px;
  position: relative;
}

nav {
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}

h1,
h2 {
  color: #333;
}

section {
  padding: 20px;
}

.sticky-wa {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.sticky-header {
  position: sticky;
  top: 0;
  margin: 10px;
}

.title {
  text-align: center;
  font: bold;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mini-title {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.paragraph {
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.carsharing-section {
  margin: 20px;
}

.text-content {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.image-content {
  display: inline-block;
  width: 45%;
  text-align: right;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

.steps {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.step {
  display: inline-block;
  width: 20%;
  margin: 20px;
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefits {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.benefit {
  display: inline-block;
  width: 20%;
  margin: 20px;
  margin-top: 20px;
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-section {
  margin: 40px 20px;
  padding: 20px;
  text-align: center;
}

.testimonial {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.customer-name {
  font-weight: bold;
  margin-top: 10px;
}

.stars {
  color: #ffcc00;
}
