body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

header {
    background-color: white; 
    padding: 10px 20px; 
    position: relative; 
}

nav {
    text-align: right; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: inline-block; 
}

nav ul li {
    display: inline;
    margin-left: 20px; 
}

nav a {
    color: black; 
    text-decoration: none; 
}

h1, h2 {
    color: #333;
}

section {
    padding: 20px; 
}

.sticky-wa {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 100; 
}

.sticky-header{
    position: sticky;
    top: 0;
    margin: 10px;
}

.title{
    text-align: center;
    font: bold;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mini-title{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraph{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carsharing-section {
    margin: 20px; /* Add some margin around the section */
}

.text-content {
    display: inline-block; /* Display text content inline */
    width: 50%; /* Set width */
    vertical-align: top; /* Align with the image */
}

.image-content {
    display: inline-block; /* Display image content inline */
    width: 45%; /* Set width */
    text-align: right; /* Align image to the right */
}

.image-content img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.steps{
  width:100%;  
  text-align: center;
  margin: 20px;
}


.step {
    display: inline-block;
    width: 20%;
    margin: 20px;
}
